{% macro state(jobState) -%}
    {% if jobState == "new" -%}
        <span class="label">New</span>
    {%- elseif jobState == "pending" -%}
        <span class="label">Pending</span>
    {%- elseif jobState == "running" -%}
        <span class="label label-info">Running</span>
    {%- elseif jobState ==  "canceled" -%}
        <span class="label label-inverse">Canceled</span>
    {%- elseif jobState == "terminated" -%}
        <span class="label label-important">Terminated</span>
    {%- elseif jobState == "failed" -%}
        <span class="label label-important">Failed</span>
    {%- elseif jobState == "incomplete" -%}
        <span class="label label-important">Incomplete</span>
    {%- elseif jobState == "finished" -%}
        <span class="label label-success">Finished</span>
    {%- else -%}
        <span class="label label-warning">Unknown</span>
    {%- endif %}
{%- endmacro %}

{% macro command(jobCommand) -%}
    <code style="width:300px; overflow:hidden; white-space:nowrap;">{{ jobCommand }}</code>
{%- endmacro %}